div(ng-include='"components/navbar/navbar.html"')

.container
  ul(ng-repeat='poll in polls')
    li
      a(href='' ng-click='answerPoll(poll._id)')
        span(translate) Answer the poll
        |  "
        span(ng-bind-html="poll.name")
        |"
.footer
  | Foo bar
