div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    md-card(ng-repeat='q in poll.questions' ng-if='$index == questionNumber')
      md-card-title
        md-card-title-text
          h2(ng-bind-html='poll.name')
          h3.md-headline(ng-if='!submitted' translate) Question n°{{questionNumber+1}}
      md-card-content
        div(ng-if='!submitted')
          ng-quill-editor(ng-model='q.question' read-only="true")
          md-radio-group(ng-model='answers[$index]')
            md-radio-button(ng-repeat='answer in q.answers track by $index'
              ng-value='$index')
              span(ng-bind-html='answer')
      md-card-actions
        .btn-group(ng-hide='submitted')
          md-button(
            ng-click='nextQuestion()' ng-disabled='questionNumber === lastQuestion || answers[questionNumber] === undefined')
            span(translate) Next question
          md-button(ng-click='saveAnswers()'
          ng-disabled='questionNumber < lastQuestion || answers[questionNumber] === undefined || submitted')
            span(translate) Save
    p.lead(ng-if='submitted' translate) You answered the poll.
    p.note(ng-if='isAdmin()' translate) As an admin, your answers aren't saved.
div(ng-include='"components/footer/footer.html"')
