form
  md-toolbar
    .md-toolbar-tools
      h2(translate) Add users
      span(flex)
      md-button.md-icon-button(ng-click='$close()')
        i.fa.fa-times
  md-dialog-content
    form(name='form')
      .md-dialog-content.md-inline-form
        md-content(layout-padding layout='row' ng-repeat='user in users')
          md-input-container(flex)
            label(translate) Name
            input(ng-model='user.name')
          div(ng-if='saving')
            span
              i.fa.fa-circle-o-notch.fa-spin.alert(ng-if='user.status == "saving"')
              i.fa.fa-check(ng-if='user.status == "saved"')
              i.fa.fa-exclamation-circle(ng-if='user.status == "error"')


  md-dialog-actions(layout='row')
    md-button(ng-click='addUser()')
      md-button-icon.glyphicon.glyphicon-plus
      span(translate) Add user
    span(flex)
    md-button(ng-click='saveUsers()' ng-disabled='saving')
      md-button-icon.glyphicon.glyphicon-save
      span(translate ng-if='!saving') Save users
      span(translate ng-if='saving') Saving…
