div(ng-include='"components/navbar/navbar.html"')

.container
  div(ng-model='poll')
    p(translate) To edit the poll, click on the field to edit and type your text. To format the text, select it and pick the desired format in the floating box.
    h1(inline-text-editor contenteditable="true" ng-model='poll.name' placeholder='{{"Title of your poll" | translate}}')
    md-button.md-button-icon(ng-click='addQuestion()')
      md-icon.glyphicon.glyphicon-plus
      span(translate) Add question

    md-card(ng-repeat='q in poll.questions track by $index')
      md-card-title
        md-card-title-text
          span.md-headline(translate) Question n°{{$index+1}}
      md-card-actions
        div(layout='row' layout-wrap)
          div(flex)
            md-button(ng-click='addAnswer(q)')
              md-icon.glyphicon.glyphicon-plus
              span(translate) Add answer
          div.align-right(flex)
            md-button(ng-click='moveQuestion($index, -1)')
              md-icon.glyphicon.glyphicon-chevron-up
              span(translate) Move up
            md-button(ng-click='moveQuestion($index, 1)')
              md-icon.glyphicon.glyphicon-chevron-down
              span(translate) Move down
            md-button(ng-click='deleteQuestion($index)')
              md-icon.md-warn.glyphicon.glyphicon-trash
              span(translate) Delete question
        hr
      md-card-content
        quill-editor(placeholder='{{"Ask your question here" | translate}}')
        md-radio-group(ng-model='q.answer')
          div(ng-repeat='answer in q.answers track by $index')
            a.button-icon.trash(ng-click='deleteAnswer(q, $index)' aria-label='{{"Delete answer"|translate}}')
              span.glyphicon.glyphicon-trash
            a.button-icon(ng-click='moveAnswer(q, $index, -1)' aria-label='{{"Move answer up"|translate}}')
              span.glyphicon.glyphicon-chevron-up
            a.button-icon(ng-click='moveAnswer(q, $index, 1)' aria-label='{{"Move answer down"|translate}}')
              span.glyphicon.glyphicon-chevron-down
            md-radio-button.inline(ng-value='$index')
            span.inline(style='min-width=100px' inline-text-editor contenteditable="true" 
              ng-model='q.answers[$index]' placeholder='{{"Add new answer here" | translate}}')
    button.btn.btn-primary(ng-click='submitPoll()' translate) Submit poll

div(ng-include='"components/footer/footer.html"')
