div(ng-include='"components/navbar/navbar.html"')

.container
  h1 Polls list
  md-button.md-fab.md-fab-bottom-right(md-font-icon='icon-home' aria-label='FAB' ng-click='newPoll()')
    i.fa.fa-plus
  poll
    ul.list-group
      li.list-group-item(ng-repeat='poll in polls track by $index')
        strong(ng-bind-html='poll.name')
        a.button-icon
          span.glyphicon.glyphicon-menu-down(ng-if='!reveal')
          span.glyphicon.glyphicon-menu-up(ng-if='reveal')
        br
        span.text-muted(ng-click='reveal = !reveal') {{ reveal ? 'Hide' : 'View'}} {{ poll.questions.length }} questions
        .pull-right
          a.button-icon(ng-click='viewAnswers(poll._id)')
            span.glyphicon.glyphicon-eye-open
          a.button-icon(ng-click='editPoll(poll._id)')
            span.glyphicon.glyphicon-edit
          a.button-icon.trash(ng-click='deletePoll(poll._id)')
            span.glyphicon.glyphicon-trash
            
        ul(ng-show='reveal')
          li(ng-repeat='question in poll.questions track by $index')
            span(ng-bind-html='question.question')
            ol
              li(ng-repeat='answer in question.answers track by $index' ng-class='{correct: $index===question.answer}')
                span(ng-bind-html='answer')
.footer
  | Foo bar
