div
  ng-quill-editor(ng-model='q.question' toolbar="true" link-tooltip="true"
    toolbar-entries="size bold list bullet italic underline strike align color background link image"
    editor-required="true" required="" error-class="input-error")
