div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    md-data-table-toolbar
      h2.md-title {{ poll.name | removeHtml }}
        |  
        span(translate) — given answers
    md-data-table-container(ng-if='answers')
      table(md-data-table)
        thead(md-table-head)
          tr
            th(translate) Name
            th(trim ng-repeat='q in poll.questions') {{ q.question | removeHtml | truncate: 25 }}
            th(translate) Score
            th
        tbody
          tr(ng-repeat='ans in answers track by $index')
            td {{ ans.user.name }}
            td(ng-repeat='c in ans.correction track by $index') 
              i.fa.fa-check.correct(ng-if='c.goodAnswer')
              i.fa.fa-times.wrong(ng-if='!c.goodAnswer')
              |  {{ poll.questions[$index].answers[c.givenAnswer] }}
            td {{ ans.goodAnswers }} / {{ ans.poll.questions.length }}
            td
              span.glyphicon.glyphicon-trash(ng-click='deleteAnswer(ans)' style='color:red')
    p(ng-if='!answers' translate) No answers yet.
    md-button(ng-click='getResultsAsCsv()')
      md-button-icon
        i.fa.fa-save
      span(translate) Export
    md-data-table-pagination
div(ng-include='"components/footer/footer.html"')
